RK_BUILDROOT_BASE_CFG="rv1126b_ohd"
RK_ROOTFS_PREBUILT_TOOLS=y
# RK_WIFIBT is not set
RK_UBOOT_INI="RV1126BPMINIALL.ini"
RK_UBOOT_SPL=y
RK_KERNEL_CFG="rockchip_linux_ohd_defconfig"
RK_KERNEL_DTS_NAME="rv1126bp-ohd-x21b"
# RK_RECOVERY is not set
RK_MISC=y
RK_USE_FIT_IMG=y
