RK_BUILDROOT_BASE_CFG="rv1126b_ohd"
RK_ROOTFS_SQUASHFS=y
RK_USB_MANUFACTURER="OpenHD"
RK_USB_PRODUCT="X21B"
RK_USB_UMS=y
RK_USB_UMS_FILE="/tmp/ums.img"
RK_USB_UMS_SIZE="100M"
RK_ROOTFS_PREBUILT_TOOLS=y
RK_ROOTFS_EXTRA_OVERLAY_DIRS="x21-misc"
# RK_WIFIBT is not set
RK_UBOOT_CFG="rv1126b-ohd-spi"
RK_UBOOT_INI="RV1126BPMINIALL.ini"
RK_UBOOT_SPL=y
RK_KERNEL_CFG="rockchip_linux_ohd_defconfig"
RK_KERNEL_DTS_NAME="rv1126bp-ohd-x21b"
# RK_RECOVERY is not set
RK_EXTRA_PARTITION_NUM=1
RK_EXTRA_PARTITION_1_NAME="slotconfig"
RK_EXTRA_PARTITION_1_EMPTY=y
RK_EXTRA_PARTITION_1_SIZE="128K"
RK_MISC=y
RK_USE_FIT_IMG=y
