RK_BUILDROOT_BASE_CFG="rv1126b_robot"
# RK_YOCTO is not set
# RK_DEBIAN is not set
# RK_ROOTFS_ASYNC_COMMIT is not set
# RK_ROOTFS_DEBUG_INFO is not set
RK_WIFIBT_CHIP="RK960"
RK_UBOOT_INI="RV1126BPMINIALL.ini"
RK_UBOOT_SPL=y
RK_KERNEL_CFG_FRAGMENTS="rv1126b_robot.config"
RK_KERNEL_DTS_NAME="rv1126bp-evb1-v12"
RK_USE_FIT_IMG=y
