RK_BUILDROOT_BASE_CFG="rv1126b_ipc"
# RK_YOCTO is not set
# RK_DEBIAN is not set
RK_ROOTFS_LIGHTWEIGHT=y
# RK_WIFIBT is not set
RK_UBOOT_INI="RV1126BPMINIALL.ini"
RK_UBOOT_SPL=y
RK_KERNEL_DTS_NAME="rv1126bp-evb1-v12"
RK_USE_FIT_IMG=y
