# RK_YOCTO_CHROMIUM is not set
RK_ROOTFS_PREBUILT_TOOLS=y
RK_WIFIBT_CHIP="RTL8821CS"
RK_UBOOT_INI="RV1126BPMINIALL.ini"
RK_UBOOT_SPL=y
RK_KERNEL_CFG="rockchip_linux_defconfig"
RK_KERNEL_DTS_NAME="rv1126bp-evb1-v12"
RK_USE_FIT_IMG=y
