RK_BUILDROOT_BASE_CFG="rv1126b_fastboot"
RK_ROOTFS_EROFS=y
RK_ROOTFS_COMPRESSED_GZ=y
# RK_ROOTFS_OVERLAY is not set
# RK_WIFIBT is not set
RK_UBOOT_CFG="rv1126b-emmc-fastboot"
RK_UBOOT_CFG_FRAGMENTS="rk-gpt"
RK_UBOOT_SPL=y
RK_KERNEL_CFG_FRAGMENTS="rv1126b-fastboot.config"
RK_KERNEL_DTS_NAME="rv1126b-evb1-v10-fastboot-emmc"
RK_BOOT_FIT_ITS_NAME="fastboot-boot.its"
RK_USE_FIT_IMG=y
RK_FASTBOOT=y
