RK_ROOTFS_PREBUILT_TOOLS=y
RK_BUILDROOT_BASE_CFG="rv1126b_dv"
# RK_YOCTO is not set
# RK_DEBIAN is not set
RK_UBOOT_SPL=y
RK_KERNEL_CFG_FRAGMENTS="rv1126b-dv.config"
RK_KERNEL_DTS_NAME="rv1126b-evb1-v10-dv"
RK_USE_FIT_IMG=y
